@{
    ViewData["Title"] = "401";
    Layout = "_LayoutError";
}

<div id="error-box">
    <img src="~/error/401.jpg" alt="">
    <div id="error-message">
        <h2 class="headline text-warning"> 401</h2>
        <h3 class="headline text-warning"> Unauthorized</h3>
        <div class="error-content">
            <p>
                You do not have permission to view this page.
                Please return to login or contact the administrator.
                <br />
                <br />
                You will be redirect to the login page in 3 seconds...
            </p>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        &copy; 2023 <a href="#">Leave Space System</a> &#x2022;
        <a href="https://www.freepik.com/free-vector/401-error-unauthorized-concept-illustration_7938330.htm#query=401&position=4&from_view=search&track=sph">Image by storyset</a> on Freepik
    </p>
</div>

@section Scripts{
    <script>
        redirectHandler('/login', 3000);
    </script>
}