@{
    ViewData["Title"] = "403";
    Layout = "_LayoutError";
}
<div id="error-box">
    <img src="error.png" alt="">
    <div id="error-message">
        <h2 class="headline text-warning"> 403</h2>
        <h3 class="headline text-warning"> Forbidden</h3>
        <div class="error-content">
            <p>
                Access Forbidden. You do not have permission to view this page.
                Please return to main page or contact the administrator.
                <br />
                <br />
                You will be redirect to the main page in 3 seconds...
            </p>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        &copy; 2023 <a href="#">Leave Space System</a> &#x2022;
        <a href="https://www.freepik.com/free-vector/modern-devices-isometric-composition-with-view-modern-workspace-with-big-table-consumer-electronics-computers-illustration_6869960.htm#query=office%20png&position=6&from_view=keyword&track=ais">Image by macrovector</a> on Freepik

    </p>
</div>

@section Scripts{
    <script>
        redirectHandler('/', 3000);
    </script>
}