@{
    ViewData["Title"] = "403";
    Layout = "_LayoutError";
}
<div id="error-box">
    <img src="~/error/403.jpg" alt="">
    <div id="error-message">
        <h2 class="headline text-warning"> 403</h2>
        <h3 class="headline text-warning"> Forbidden</h3>
        <div class="error-content">
            <p>
                Access Forbidden. You do not have permission to view this page.
                Please return to main page or contact the administrator.
                <br />
                <br />
                You will be redirect to the main page in 3 seconds...
            </p>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        &copy; 2023 <a href="#">Leave Space System</a> &#x2022;
        <a href="https://www.freepik.com/free-vector/403-error-forbidden-with-police-concept-illustration_7906226.htm#query=403&position=0&from_view=search&track=sph">Image by storyset</a> on Freepik
    </p>
</div>

@section Scripts{
    <script>
        redirectHandler('/', 3000);
    </script>
}