@{
    ViewData["Title"] = "404";
    Layout = "_LayoutError";
}
<div id="error-box">
    <img src="~/error/404.jpg" alt="">
    <div id="error-message">
        <h3 class="headline text-warning"> Oops! Page not found</h3>
        <div class="error-content">
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may return to main page or contact administrator.
                <br />
                <br />
                You will be redirect to the main page in 3 seconds...
            </p>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        &copy; 2023 <a href="#">Leave Space System</a> &#x2022;
        <a href="https://www.freepik.com/free-vector/page-found-concept-illustration_7887410.htm#query=404&position=4&from_view=search&track=sph">Image by storyset</a> on Freepik
    </p>
</div>

@section Scripts{
    <script>
        redirectHandler('/', 3000);
    </script>
}
