@{
    ViewData["Title"] = "Employee Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardStaff.cshtml";
}

<div class="card mb-4">
    <div class="container-fluid py-4">
        <div class="pd-20">
            <h5 class="text-blue py-1">LEAVE BALANCE</h5>
        </div>
    <table id="tableBalance" class="table table-striped table-hover" style="width:100%">
        <thead class="table-dark">
            <tr>
               <th>No</th>
               <th>Balance</th>
               <th>Used Balance</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>

<div class="card mb-4">
<div class="container-fluid py-4">
    <h5 class="text-blue py-2">SYARAT PERMOHONAN CUTI</h5>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Tahunan</h5>
                    <p class="card-text text-justify">
                        Aturan cuti ini diberikan untuk Pegawai yang setidaknya sudah bekerja sekurang-kurangnya 1 tahun secara terus menerus. 
                        Dengan lamanya masa cuti adalah 12 hari kerja.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
                <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Besar</h5>
                    <p class="card-text text-justify">
                        Jenis cuti ini diberikan kepada mereka yang telah mengabdikan dirinya sekurang-kurangnya 6 tahun secara terus menerus. 
                        Durasi cuti besar yang boleh diambil adalah 1 bulan penuh.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
                <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Sakit</h5>
                    <p class="card-text text-justify">
                        Bila Pegawai jatuh sakit dan tidak memungkinkan untuk melakukan pekerjaan, yang bersangkutan berhak atas cuti sakit. 
                        Aturan cuti Pegawai yang sakit diberikan dengan ketentuan bahwa ia harus melampirkan surat keterangan dokter agar pengajuan cuti dapat disetujui.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
                <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Alasan Penting: Maksimal 3 hari</h5>
                    <p class="card-text text-justify">
                        Cuti alasan penting ini diberikan ketika ibu, bapak, istri, suami, anak, adik, kakak, mertua, 
                        atau menantu yang sedang sakit keras atau meninggal dunia.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
                <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Melahirkan</h5>
                    <p class="card-text text-justify">
                        Ketentuan lamanya cuti melahirkan adalah 3 bulan yaitu 1,5 bulan sebelum dan 1,5 sesudah persalinan.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3">
                <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Haid</h5>
                    <p class="card-text text-justify">
                        Cuti ini dapat diberikan sebanyak 2 hari bagi pegawai perempuan yang mengalami sakit pada 
                        saat siklus awal menstruasi dimulai.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
                <div class="card h-100 bg-light">
                <div class="card-body">
                    <h5 class="card-title">Cuti Bersama</h5>
                    <p class="card-text text-justify">
                        Salah satu jenis cuti yang pasti sudah tidak asing lagi. Cuti bersama ditetapkan oleh Pemerintah. 
                        Biasanya cuti bersama ada saat perayaan Idulfitri, Nyepi, Waisak, Natal, dan tahun baru. 
                        Tentu saja, karena namanya cuti bersama, cuti ini tidak perlu diajukan.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>




@section CssSection{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <script src="~/js/employee.js" asp-append-version="true"></script>
}
