@{
    ViewData["Title"] = "RequestLeave";
    Layout = "~/Views/Shared/_LayoutDashboardEmployee.cshtml";
}
@model Client.DTOs.RequestLeaveDto;

<div class="card mb-4">
    <div class="container-fluid">
            <div class="card-header pb-0 ps-0" bg-white>
                <h5>STAFF FORM</h5>
            </div>
        <form asp-action="RequestALeave" method="POST" enctype="">
            <input asp-for="Leave.EmployeeGuid" class="form-control" hidden/>
            <div class="form-group">
                <label asp-for="Leave.Description">Deskripsi</label>
                <textarea asp-for="Leave.Description" class="form-control"
                          id="alasan"
                          rows="3"
                          name="deskripsi"
                          required></textarea>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label asp-for="Leave.LeaveTypeGuid">Leave Type</label>
                        <select asp-for="Leave.LeaveTypeGuid" name="leave_type" id="leave_type" class="custom-select form-control" required="true" autocomplete="off">
                            @foreach (var item in Model.LeaveType){
                                @if(item != null)
                                {
                                    <option value="@item.LeaveTypeGuid">@item.Name</option>
                                }
                            }
                            
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Leave.StartDate">Mulai Cuti</label>
                <input asp-for="Leave.StartDate" 
                       type="date"
                       class="form-control"
                       id="mulai"
                       aria-describedby="mulai"
                       name="mulai"
                       required />
            </div>
            <div class="form-group">
                <label asp-for="Leave.StartDate">Berakhir Cuti</label>
                <input asp-for="Leave.StartDate"
                        type="date"
                       class="form-control"
                       id="berakhir"
                       aria-describedby="berakhir"
                       name="berakhir"
                       required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/leave.js" asp-append-version="true"></script>
}


