@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0" bg-white>
                <h3>Manage Leave Types</h3>
            </div>
            <div class="card-body px-3 pt-2 pb-2">
                <div class="table-responsive p-0">
                    <table class="table table-striped" id="table-leave-type">
                        <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">No.</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Type</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Standard Balance</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Min Duration</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Max Duration</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Female Only</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Remarks</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Employee Modal-->
<div class="modal fade" id="modal-leave-type" tabindex="-1" aria-labelledby="modal-create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-h5-title">Leave Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="CreateEmployee" id="form-registration">
                    <div class="mb-3">
                        <label for="input-name" class="form-label">Name</label>
                        <input type="text" id="input-guid" val="" hidden>
                        <input type="text" id="input-name" class="form-control" placeholder="NAME" aria-label="Name" required>

                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="input-min-duration" class="form-label">MIN DURATION</label>
                                <input type="number" id="input-min-duration" class="form-control" placeholder="MIN DURATION" aria-label="First name" required>
                            </div>
                            <div class="col">
                                <label for="input-max-duration" class="form-label">MAX DURATION</label>
                                <input type="number" id="input-max-duration" class="form-control" placeholder="MAX DURATION" aria-label="Last name" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="select-female-only" class="form-label">FEMALE ONLY</label>
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-female-only" required>
                            <option>Female Only</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="input-balance" class="form-label">STANDARD BALANCE</label>
                        <input type="number" id="input-balance" class="form-control" placeholder="" aria-label="Name" required>
                    </div>
                    <div class="mb-2">
                        <label for="input-remarks" class="form-label">REMARK</label>
                        <textarea id="input-remarks" class="form-control" aria-label="With textarea" placeholder="Remark"></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="button-save" class="btn btn-primary">Save</button>
                    <button id="button-update" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let createAction = "@Url.Action("CreateLeaveType")";
        let updateAction = "@Url.Action("UpdateLeaveType")";
    </script>
    <script src="~/js/admin/LeaveTypePage.js" asp-append-version="true"></script>
}