@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardAdmin.cshtml";
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0" bg-white>
                <h3>Manage Leave Types</h3>
            </div>
            <div class="card-body px-3 pt-2 pb-2">
                <div class="table-responsive p-0">
                    <table class="table table-striped" id="table-leave-type">
                        <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">No.</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Type</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Standard Balance</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Min Duration</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Max Duration</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Female Only</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Remarks</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Employee Modal-->
<div class="modal fade" id="modal-create" tabindex="-1" aria-labelledby="modal-create" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Leave Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="CreateEmployee" id="form-registration">
                    <div class="mb-3">
                        <label for="input-birthdate" class="form-label">Name</label>
                        <input type="text" id="input-name" class="form-control" placeholder="NAME" aria-label="Name">

                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <input type="number" id="input-min-duration" class="form-control" placeholder="MIN DURATION" aria-label="First name">
                            </div>
                            <div class="col">
                                <input type="number" id="input-max-duration" class="form-control" placeholder="MAX DURATION" aria-label="Last name">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="select-gender">
                            <option>Female Only</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="input-birthdate" class="form-label">STANDARD BALANCE</label>
                        <input type="number" id="input-balance" class="form-control" placeholder="" aria-label="Name">
                    </div>
                    <div class="mb-2">
                        <label for="input-hiring-date" class="form-label">REMARK</label>
                        <textarea class="form-control" aria-label="With textarea" placeholder="Remark"></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="button-register" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Employee Modal -->
<div id="modal-delete" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure to delete this type?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="delete-form" type="post" asp-action="Delete">
                <input id="delete-form-input" hidden />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Confirm Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/admin/LeaveTypeHandler.js" asp-append-version="true"></script>
    <script type="module" src="~/js/admin/LeaveTypePage.js" asp-append-version="true"></script>
}