#sidenav-collapse-main {
    height: auto;
}

#card-department-dashboard {
    height: 480px !important;
    overflow-y: hidden;
}

#card-employee-dashboard {
    height: 480px !important;
}

#modal-fit {
    height: 80vh !important;
}

#modal-fit form {
    height: 70vh !important;
    overflow-y: scroll;
    overflow-x: hidden;
}
