body {
    background-color: #172b4d !important;
}

#sidenav-main {
    background-color: #051139 !important;
}

.nav-link {
    color: #fff !important;
}

.nav-label {
    color: #fff !important;
}

.navbar-vertical.bg-white .navbar-nav > .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0.13) !important;
}

.nav-link.active {
    background-color: rgba(255, 255, 255, 0.13) !important;
}

.modal-footer {
    border-top: none !important;
}

#detail-employee-card {
    min-height: 600px;
}

/* Add this style to your CSS file or style tag */
.nav-item:hover {
    background-color: #35424a; /* Change the color as desired */
}

    .nav-item:hover a,
    .nav-item:hover h6 {
        color: #ffd700; /* Change the color as desired */
    }

.nav-link.active,
.nav-link.active:hover,
.nav-item.active {
    background-color: #35424a; /* Change the color as desired */
    color: #ffd700; /* Change the color as desired */
}

